#map {
    padding: 5px;
    width: 100%;
    height: 500px;
    box-shadow: 0 0 10px #999;
    border : 2px solid black ;

}

#info {
    padding: 5px;
    width: 100%;
    height: 20px;
    font-family : "monospace" ;
    font-size: 10px;
}

#accueil{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#bandeau, #accueil{
  background-color: rgba(10, 59, 89, 1);;
  color: white;
}

#img, #stats, #diagrammes{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#img div, #diagrammes div{
  width: 32vw;
  height: 18vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#all{
  display: flex;
  justify-content: space-around;
}

.name{
  font-weight: bold;
  font-size: 4.2em;
  font-family: "Garamond";
}

#paris{
  background-image: url("Images/paris.jpg");
}

#nice{
  background-image: url("Images/Nice.jpg");
}

#bordeaux{
  background-image: url("Images/bordeaux.jpg");
}

#stats table{
  width : 32vw;
}

td, table tr th{
  text-align: center;
}

#divButtonReinitializeMap{
  display: flex;
  width: 100%;
  height: 40px;
  position: absolute;
  justify-content: flex-end;
  z-index: 1;
  margin-top: 0.5%;
}

#buttonReinitializeMap{
  margin-right: 0.5%;
}

#dgmParis{
  background-image: url("Paris.png");
}

#dgmBordeaux{
  background-image: url("Nice.png");
}

#dgmNice{
  background-image: url("Bordeaux.png");
}
